        body
        {
            background-color: white;
            font-family: Times New Roman;
        }
        .heading
        {
            float:left;
            font-size:5vw;
            text-align: center;
            width:100%;
            margin-top:1vw;
            color:#03224e;
            font-weight: bold;
        }
        .area
        {
            background-color: beige;
            width:30vw;
            height:30vw;
            position: relative;
            top:2vw;
            padding-top: 5vw;
            float:left;
            margin-left:17vw;
            box-shadow: 0.1vw 0.1vw 0.1vw silver, -0.1vw -0.1vw 0.1vw silver,-0.1vw 0.1vw 0.1vw silver, 0.1vw -0.1vw 0.1vw silver;
        }
        input
        {
            width:75%;
            height:3vw;
            float:left;
            margin-left:10%;
            font-size:1.8vw;
            margin-bottom:3vw;
            padding-left:5%;
        }
        ::placeholder
        {
            color:#03224e;
            opacity:1;
        }
        .button
        {
            float:left;
            margin-left:7vw;
            margin-top:5vw;
            font-size: 2vw;
            padding:2vw;
            background-image: linear-gradient(to bottom right,#486DA2,#0A0D1D);
            color:white;
            border-radius: 1vw;
            user-select: none;
        }
        .button:hover
        {
            cursor: pointer;                
            background-image: linear-gradient(to bottom right,#0A0D1D,#486DA2);
        }
        .res
        {
            float:left;
            width:20vw;
            height:25vw;
            margin-left:4vw;
            background-color: beige;
            margin-top:1.9vw;
            padding:5vw;
            font-size:3vw;
            color:#03224e;
            text-align:center;
            font-weight:bold;
            box-shadow: 0.1vw 0.1vw 0.1vw silver, -0.1vw -0.1vw 0.1vw silver,-0.1vw 0.1vw 0.1vw silver, 0.1vw -0.1vw 0.1vw silver;
        }
        @media screen and (max-width: 600px)
        {
            input
            {
                height:10vw;
                font-size:4vw;
                margin-bottom:10vw;
            }
            .area
            {
                background-color: beige;
                width:75vw;
                height:75vw;
                position: relative;
                top:10vw;
                padding-top: 10vw;
                float:left;
                margin-left:10vw;
                box-shadow: 0.5vw 0.5vw 0.5vw silver, -0.5vw -0.5vw 0.5vw silver,-0.5vw 0.5vw 0.5vw silver, 0.5vw -0.5vw 0.5vw silver;
            }
            .button
            {
                margin-left:21vw;
                margin-top:2.5vw;
                font-size: 4vw;
                padding:4vw;
                border-radius: 2vw;
            }
            .heading
            {
                float:left;
                font-size:10vw;
                text-align: center;
                width:100%;
                margin-top:5vw;
                color:#03224e;
                font-weight: bold;
            }
            .res
            {
                width:65vw;
                height:20vw;
                margin-left:10vw;
                margin-top:20vw;
                font-size:5vw;
                display: none;
                box-shadow: 0.5vw 0.5vw 0.5vw silver, -0.5vw -0.5vw 0.5vw silver,-0.5vw 0.5vw 0.5vw silver, 0.5vw -0.5vw 0.5vw silver;
            }
            .res>p
            {
                margin-top:1.5vw;
            }
            .reshead
            {
                display: none;
            }
        }
